<div id="containerFrontPage">
  <%= render "user_form" %>
  <div id="alreadyMember">
    <div class="alreadyMemberText">
      <p><%= t ".already_have_acc" %> <%= link_to t(".login"), "#" %></p>
    </div>
  </div>
</div>
