<% provide :btn_text, t(".btn_signup") %>
<% provide :title_user, t(".signup_title") %>

<div class="form">
  <%= render "user_form" %>
  <div id="alreadyMember">
    <div class="alreadyMemberText">
      <p><%= t ".already_have_acc" %> <%= link_to t(".login"), login_path %></p>
    </div>
  </div>
</div>
