body {
  background: #F1F3FA;
}

/* Header */
nav.navbar-default {
  background-image: radial-gradient(circle 93.5rem at 2.4% 52.5%,
    rgba(113,190,194,1) 0.2%, rgba(123,199,203,1) 22.9%,
    rgba(140,220,223,1) 43.2%, rgba(160,235,239,1) 63.8%,
    rgba(190,245,249,1) 85.6%);
  height       : 5rem;
  margin       : 0;
  border       : none;
  border-radius: 0;
  .navbar-header .navbar-brand {
    color      : #fff !important;
    font-size  : 2.4rem;
    font-weight: 600;
    font-family: arial;
  }
}

/* Main */
.main {
  margin-top: 5rem;
  overflow  : hidden;
  .col-md-2, .col-md-10 {
    padding: 0;
  }
}
.profile {
  height: 100%;
}

/* Profile Sidebar*/
.profile .profile-sidebar {
  background-image: -o-linear-gradient(270.6deg, rgba(42,62,101,1) -27.7%,
    rgba(91,125,189,1) 165.8%);
  background-image: linear-gradient(179.4deg, rgba(42,62,101,1) -27.7%,
    rgba(91,125,189,1) 165.8%);
  min-height: 66rem;
  padding   : 2rem 0 1rem 0;
}
.profile-sidebar .profile-userpicture {
  img.profile-useravatar {
    float        : none;
    margin       : 0 auto;
    width        : 11rem;
    height       : 11rem;
    border-radius: 50% !important;
  }
}
.profile-sidebar .profile-usertitle {
  text-align: center;
  margin-top: 2rem;
  .profile-usertitle-name {
    color        : #5a7391;
    font-size    : 1.6rem;
    font-weight  : 600;
    margin-bottom: 7px;
    a {
      color: #fff;
      &:hover {
        font-style: italic;
      }
    }
  }
  .profile-usertitle-job {
    text-transform: uppercase;
    color         : #5b9bd1;
    font-size     : 1.2rem;
    font-weight   : 600;
    margin-bottom : 1.5rem;
  }
}
.profile-sidebar .profile-userbuttons {
  text-align: center;
  margin-top: 1rem;
  .btn {
    text-transform: uppercase;
    font-size     : 1.1rem;
    font-weight   : 600;
    padding       : 0.6rem 1.5rem;
    margin-right  : 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.profile-sidebar .profile-usermenu {
  margin-top: 3rem;
  ul li {
    border-bottom: 1px solid #678ea9;
    padding-left : 5px;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: #fafcfd;
    }
    a {
      color      : #fff;
      font-size  : 1.4rem;
      font-weight: 600;
      &:hover {
        background-color: #fafcfd;
        color           : #2d6c9f;
        font-style      : italic;
      }
      i {
        margin-right: 5px;
        font-size   : 1.4rem;
      }
    }
  }
  ul li.active {
    border-bottom: none;
    background   : #f6f9fb;
    a {
      color           : #2d6c9f;
      background-color: #f6f9fb;
      margin-left     : -2px;
    }
  }
}

/* Content */
.profile .content-right {
  min-height: 66rem;
  .content {
    padding         : 2rem;
    padding-top     : 0;
    min-height      : 61rem;
    background-color: #f6f9fb;
  }
  .alert-message {
    text-align: center;
  }
  .footer {
    width      : 100%;
    height     : 5rem;
    background : #e8e8e8;
    line-height: 5rem;
  }
}

.img-circle {
  width        : 10rem;
  height       : 10rem;
  border-radius: 50%;
  border       : 4px solid #00BCD4;
  padding      : 8px;
}
