.form {
  margin          : 0 auto;
  width           : 40.4rem;
  background-color: #fff;
  padding         : 2rem 2rem 0 2rem;
  margin-top      : 3%;
  border          : 1px solid #000;
  border-radius   : 5px;
  opacity         : 0.95;
}
.titleForm {
  font-size    : 3rem;
  margin-bottom: 2rem;
  color        : #000;
  font-family  : 'Lato' !important;
  font-weight  : 400;
  text-align   : center;
}
#rainbow, #rainbowForForgot {
  width            : 36.4rem;
  margin           : 0 auto;
  height           : 1px;
  background-repeat: repeat-x;
  background-image : url(color.png);
  margin-bottom    : 2rem;
}
.registerInput {
  width              : 36rem !important;
  padding-top        : 5px !important;
  padding-left       : 5px !important;
  margin-top         : 2rem !important;
  height             : 3rem;
  font-size          : 1.6rem;
  transition         : 0.5s;
  background-repeat  : no-repeat;
  background-position: 33rem 5px;
  background-size    : 2.2rem 2.2rem;
  opacity            : 1;
}
.nameInput {
  background-image: url(user.png);
}
.emailInput {
  background-image: url(mail.png);
}
.passwordInput {
  background-image: url(lock.png);
}
.passwordConfirmationInput {
  background-image: url(success.png);
}
.phoneInput {
  background-image: url(call.png);
}
.addressInput {
  background-image: url(address.png);
}
.signupButton, .loginButton {
  margin    : 2rem;
  text-align: center;
  .btn-form {
    width      : 36rem !important;
    margin-left: -2rem;
    font-size  : 1.6rem;
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
  }
}
#alreadyMember {
  height    : 5rem;
  width     : 100%;
  text-align: center;
}
#forgotPass {
  text-align    : center;
  padding-bottom: 1.5rem;
}
.checkbox {
  margin-left: 2rem;
}
.title-reset {
  text-align: center;
}
.reset {
  margin-top: 2rem;
}
.list-errors li{
  color  : red;
  padding: 3px;
}
.modal-title {
  text-align : center;
  font-weight: 600;
}

/* Index Users */
.users-title, .courses-title {
  text-align   : center;
  margin-bottom: 3rem;
}
.users-avatar {
  height       : 5rem;
  width        : 5rem;
  border-radius: 50%;
  border       : 1px solid #ccc;
}
.th-user, .td-user {
  text-align: center;
}
.td-user {
  line-height: 5rem !important;
}
.user-text-trans {
  text-transform: capitalize;
}

/* Show User */
.last-child-text--margin-0 {
  margin: 0;
}
ul.contact-info {
  padding: 0;
  li {
    list-style-type: none;
    float: left;
    padding-right: 11px;
    &:last-child {
      padding-right: 0;
    }
  }
  li a i.fa-facebook-square {
    color: #4064ac;
  }
  li a i.fa-github {
    color: #24292e;
  }
  li a i.fa-twitter {
    color: #1c9cea;
  }
  li a i.fa-pinterest {
    color: #df0022;
  }
  li a i.fa-google-plus {
    color: #d54836;
  }
}
.course-item-of-user {
  height: 12rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto 0;
  margin-bottom: 1rem;
  padding: 5px 1rem;
  box-shadow: 2px 1px 5px 1px #ccc, 0 3px 1px 0 #ccc;
  transition : all 0.4s;
  &:hover {
    box-shadow: 4px 4px 5px 1px #ccc, 0 3px 1px 0 #ccc;
  }
  .course-cover {
    img.course-img {
      height: 5rem;
      width: auto;
      border-radius: 10px;
    }
    p.course-duration {
      float: right;
      font-size: 2rem;
      font-style: italic;
      position: relative;
      top: 5px;
      right: 1rem;
    }
  }
  .course-info {
    padding-top: 1rem;
    h4.course-name {
      text-transform: capitalize;
      display: inline-block;
    }
    a.btn-continue-course {
      float: right;
      display: inline-block;
    }
  }
}

/* Show User Profile */
.user-profile {
  padding-top: 2rem;
}

/* btn Add New Member for Course & User */
.btn-add-member {
  margin-bottom: 2rem;
  margin-left  : 1.5rem;
}
