.form {
  margin          : 0 auto;
  width           : 40.4rem;
  background-color: #fff;
  padding         : 2rem 2rem 0 2rem;
  margin-top      : 3%;
  border          : 1px solid #000;
  border-radius   : 5px;
  opacity         : 0.95;
}
.titleForm {
  font-size    : 3rem;
  margin-bottom: 2rem;
  color        : #000;
  font-family  : 'Lato' !important;
  font-weight  : 400;
  text-align   : center;
}
#rainbow, #rainbowForForgot {
  width            : 36.4rem;
  margin           : 0 auto;
  height           : 1px;
  background-repeat: repeat-x;
  background-image : url(color.png);
  margin-bottom    : 2rem;
}
.registerInput {
  width              : 36rem !important;
  padding-top        : 5px !important;
  padding-left       : 5px !important;
  margin-top         : 2rem !important;
  height             : 3rem;
  font-size          : 1.6rem;
  transition         : 0.5s;
  background-repeat  : no-repeat;
  background-position: 33rem 5px;
  background-size    : 2.2rem 2.2rem;
  opacity            : 1;
}
.nameInput {
  background-image: url(user.png);
}
.emailInput {
  background-image: url(mail.png);
}
.passwordInput {
  background-image: url(lock.png);
}
.passwordConfirmationInput {
  background-image: url(success.png);
}
.phoneInput {
  background-image: url(call.png);
}
.addressInput {
  background-image: url(address.png);
}
.signupButton, .loginButton {
  margin    : 2rem;
  text-align: center;
  .btn-form {
    width      : 36rem !important;
    margin-left: -2rem;
    font-size  : 1.6rem;
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
  }
}
#alreadyMember {
  height    : 5rem;
  width     : 100%;
  text-align: center;
}
#forgotPass {
  text-align    : center;
  padding-bottom: 1.5rem;
}
.checkbox {
  margin-left: 2rem;
}
.title-reset {
  text-align: center;
}
.reset {
  margin-top: 2rem;
}
.list-errors li{
  color  : red;
  padding: 3px;
}
.modal-title {
  text-align : center;
  font-weight: 600;
}

/* Index Users */
.users-title, .courses-title {
  text-align   : center;
  margin-bottom: 3rem;
}
.users-avatar {
  height       : 5rem;
  width        : 5rem;
  border-radius: 50%;
  border       : 1px solid #ccc;
}
.th-user, .td-user {
  text-align: center;
}
.td-user {
  line-height: 5rem !important;
}
.user-text-trans {
  text-transform: capitalize;
}

/* btn Add New Member for Course & User */
.btn-add-member {
  margin-bottom: 2rem;
  margin-left  : 1.5rem;
}
