<div class="col-md-6">
  <div class="list-group">
    <div class="list-group-item add-subject-card">
      <div class="row media-add-subject">
        <div class="checkbox checkbox-subject-card pull-left">
          <input type="checkbox" class="subject-remaining" value="">
        </div>
        <div class="clearfix"></div>
        <div class="media-container">
          <h4 class="media-heading"><%= subject.name %></h4>
          <p class="media-text">
            <span class="italic-text"><%= t "form.created" %>: </span>
            <%= format_date subject.created_at %>
          </p>
          <input type="hidden" value="<%= subject.id %>">
        </div>
      </div>
    </div>
  </div>
</div>
