<div class="col-md-6">
  <div class="list-group">
    <div class="list-group-item add-member-card">
      <div class="row media-add-member">
        <div class="checkbox checkbox-user-card pull-left">
          <input type="checkbox" class="user-remaining" value="">
        </div>
        <div class="clearfix"></div>
        <div class="media-container">
          <h4 class="media-heading"><%= user.name %></h4>
          <p><%= user.role %></p>
          <input type="hidden" value="<%= user.id %>">
        </div>
      </div>
    </div>
  </div>
</div>
